/* Navbar */

* {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
  align-items: center;

  margin: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.menu ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.menu ul li {
  color: #575757;
  font-family: Arial, Helvetica, sans-serif;
}

.reg-btn button {
  padding: 10px;
  width: 150px;
  background-color: #1d4ed8;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  font-weight: 700;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* align-items: center; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7)), url(/img/banner.jpg);
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
/* Background Cover */
header,
h1,
p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
header h1 {
  font-size: 5rem;
}
header p {
  font-size: 1.5rem;
}

.title {
  margin-top: 150px;
}
.header-btn {
  margin-top: 350px;
}
.header-btn button {
  padding: 10px;
  width: 180px;
  height: 50px;
  background-color: #1d4ed8;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
}
/* SPEAKERS MEETING */


.speaker-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;

}

.card-container {
  display: grid;
  gap: 60px;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  width: 1340px;
}

.CARD-1,
.CARD-2,
.CARD-3,
.CARD-4 {
  /* border: 2px solid green; */
  border-radius: 18px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 640px;
}
