.navbar-container {
    display:flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    align-items: center;
 
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;

}

.menu ul{
    display: flex;
    gap:20px;
    list-style: none;
}

.menu ul li{
    color: #575757;
    font-family: Arial, Helvetica, sans-serif;
}

.reg-btn button{
 padding: 10px;
 width: 150px;
 background-color: #1D4ED8;
 color: #FFFFFF;
 border-radius: 5px;
 border: none;

}